<li class="">
    <a href="#ecommerce-container" role="tab" data-toggle="tab">
        <span size="sm" class="label label-primary mr-sm" id="EcommerceCount">
            {{ orderCount }}
        </span>
        {{ 'mautic.lead.lead.tab.ecommerce'|trans }}
    </a>
</li>
