{% macro phoneLink() %}
<a href="tel:+14237248922">(423) 724-8922</a>
{% endmacro %}

{% macro emailLink() %}
<a href="mailto:support@dogbytemarketing.com">support@dogbytemarketing.com</a>
{% endmacro %}
