{% embed '@EcommerceConnector/Integration/notice.html.twig' with { variant: 'success' } %}
    {% block content %}
        <p>{{ 'mautic.plugin.ecommerce.help_cta_intro'|trans }}</p>
        <p>
            {{ 'mautic.plugin.ecommerce.help_cta_phone'|trans({
                '%phone%': '<a href="tel:+14237248922">423 724 8922</a>',
            })|raw }}
        </p>
    {% endblock %}
{% endembed %}
