{% import '@EcommerceConnector/Integration/_contact_macros.html.twig' as contact %}
{% set supportPhoneLink = contact.phoneLink() %}

{% embed '@EcommerceConnector/Integration/notice.html.twig' with { variant: 'success' } %}
    {% block content %}
        <p>{{ 'mautic.plugin.ecommerce.help_cta_intro'|trans }}</p>
        <p class="mb-0">
            {{ 'mautic.plugin.ecommerce.help_cta_phone'|trans({
                '%phone%': supportPhoneLink,
            })|raw }}
        </p>
    {% endblock %}
{% endembed %}
